@tailwind base;
@tailwind components;
@tailwind utilities;

lottie-player {
  width: 300px;
}
* {
  color: #fff;
}
nav > .active {
  color: red;
  transition: 0.15s;
}
.repostContainer::-webkit-scrollbar {
  width: 10px;
}
.repostContainer::-webkit-scrollbar-track {
  background-color: #243a54;
}

.repostContainer::-webkit-scrollbar-thumb {
  background: rgb(13, 26, 41);
  border-radius: 2px;
}
.repostContainer::-webkit-scrollbar-thumb:hover {
  background: rgb(13, 25, 38);
}
